body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.flaxyball-section {
    display: flex;
    margin: 70px 50px 40px 50px;


}

.width-hafe {
    width: 50%;
    padding-left: 10px;

}

span {
    color: orange;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0%;
    padding: 0%;
}

.contant-area {
    padding: 70px 100px 0px 0px;
}

p {
    font-size: 20px;
}

.Order-Now {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 50px;
    border-radius: 40px;
    font-weight: 700;
}

.segend-img {
    width: 50%;
}

.about-me {
    padding-top: 50px;
    text-align: justify;
}

.segend-pra {
    padding-top: 20px;
}

.segend-a {
    padding-top: 100px;
}

.my-recipies {
    text-align: justify;
    text-align: center;
    padding: 20px 400px;
}

.recipie-title {
    display: flex;

}

.recipie-title img {
    width: 80%;

}

.box-shadow-1 {
    box-shadow: 10px 10px 10px rgb(183, 179, 179);
    margin: 40px;
    text-align: center;
}

.reti-1 {
    text-align: left;
    text-align: justify;
    padding: 10px 20px 10px 60px;
}

.width-hafe p {
    font-size: 15px;
}

.social {
    text-align: center;

}

.box-shadow {
    box-shadow: 10px 10px 30px grey;
    margin: 50px;
}

.footer-pairt {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}